body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

.btn {
        font-family: 'Roboto', sans-serif;
}

/* Spacing for navbar */
body {
    padding-top: 75px;
}

h5 {
    font-weight: bold;
}


/* change title color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* My name */
strong {
    color: #eb550a;
}

/* All icons set to black */
i.fab {
    color: rgba(0, 0, 0, 0.8);
}

/* Project images */
.project-image {
    max-height: 245px;
}

.learning-image {
    
    overflow: hidden;
}

.equal-height-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.equal-column-content {
    height: 100%;
}

#projects {
    padding-top: 1.5rem;
}

#learning {
    padding-top: 2rem;
}

