html {
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .8);
}

.btn {
        font-family: 'Roboto', sans-serif;
}


/* Spacing for navbar */
body {
    padding-top: 75px;
}

h5 {
    font-weight: bold;
}


.orangize {
    color: #eb550a;
}

.project-date {
    color: rgb(0, 123, 255);
}

/* All icons set to black */
i.fab {
    color: rgba(0, 0, 0, .8);
}

.event img {
    width: 500px;
    height: 220px;
    object-fit: cover;
}


/* .learning-imag

.equal-height-column {
    display: -webkit-box;
    display: -webkit-flex;

    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.equal-column-content {
    height: 100%;
}

#projects {
    padding-top: 1.5rem;
}

#learning {
    padding-top: 1.5rem;
} */


.equal-height-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.equal-column-content {
    height: 100%;
}