.Navbar {
  border: 1px solid red;
  width: 100vw;
  background-color: #aca;
}

.List {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.List li {
    padding-left: 40px;
    
}

.List li a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 480px) {
  .List {
    flex-direction: column;
  }
}
